.container .content main .register-content {
  min-width: 30%;
  min-height: 475px;
}
.container .content main .login-content {
  min-width: 30%;
  min-height: 350px;
}
.container .content main .register-content,
.container .content main .login-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  border: 3px solid rgb(192, 192, 192);
}
.container .content main .register-content .account-help,
.container .content main .login-content .account-help {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 500px;
  height: 20px;
}
.container .content main .register-content .account-help a,
.container .content main .login-content .account-help a {
  text-align: center;
  width: 50%;
  height: 0px;
  color: rgb(192, 192, 192);
  opacity: 0.7;
  text-decoration: none;
}
.container .content main .register-content .account-help a:hover,
.container .content main .login-content .account-help a:hover {
  opacity: 1;
}
.container .content main .register-content .submit,
.container .content main .login-content .submit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 0 0;
}
.container .content main .register-content .submit input[type=submit],
.container .content main .login-content .submit input[type=submit] {
  background-color: #161616;
  color: rgb(192, 192, 192);
  font-size: 2em;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-decoration: none;
  border: 3px solid rgb(192, 192, 192);
  border-radius: 10px;
  padding: 10px 50px;
  transition: 0.3s;
}
.container .content main .register-content .submit input[type=submit]:hover,
.container .content main .login-content .submit input[type=submit]:hover {
  background-color: rgb(192, 192, 192);
  color: #161616;
  border-color: #161616;
  cursor: pointer;
}
.container .content main .register-content form,
.container .content main .login-content form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
.container .content main .register-content form .register,
.container .content main .register-content form .login,
.container .content main .login-content form .register,
.container .content main .login-content form .login {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5em;
  color: rgb(192, 192, 192);
}
.container .content main .register-content form .register input,
.container .content main .register-content form .login input,
.container .content main .login-content form .register input,
.container .content main .login-content form .login input {
  position: relative;
  background-color: #161616;
  outline: none;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid rgb(192, 192, 192);
  border-left: none;
  color: rgb(192, 192, 192);
  border-radius: none;
  padding: 7px 10px;
  font-size: 20px;
}
.container .content main .register-content form .register input:focus, .container .content main .register-content form .register input:hover,
.container .content main .register-content form .login input:focus,
.container .content main .register-content form .login input:hover,
.container .content main .login-content form .register input:focus,
.container .content main .login-content form .register input:hover,
.container .content main .login-content form .login input:focus,
.container .content main .login-content form .login input:hover {
  border-top: none;
  border-right: none;
  border-bottom: 2px solid #fff;
  border-left: none;
}
.container .content main .register-content form .register input[type=text],
.container .content main .register-content form .login input[type=text],
.container .content main .login-content form .register input[type=text],
.container .content main .login-content form .login input[type=text] {
  letter-spacing: 2px;
}
.container .content main .register-content form .register label,
.container .content main .register-content form .login label,
.container .content main .login-content form .register label,
.container .content main .login-content form .login label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.container .content main .register-content form .checkbox,
.container .content main .login-content form .checkbox {
  width: 400px;
  height: 0px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  font-size: 20px;
}
.container .content main .register-content form .checkbox input[type=checkbox],
.container .content main .login-content form .checkbox input[type=checkbox] {
  width: 20px;
  height: 20px;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  background-color: #161616;
  overflow-x: hidden;
  /* Track */
  /* Handle */
  /* Handle on hover */
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background: #161616;
}
body::-webkit-scrollbar-thumb {
  background: #383838;
}
body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #161616;
}
.container .content {
  width: 1000px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 100px;
}
.container .content .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  color: rgb(192, 192, 192);
  font-size: 4em;
}
.container .content main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.container .content main .login-content {
  display: none;
}
.container .content main .register-content {
  display: none;
}
.container .content main .welcome-content a {
  background-color: #161616;
  color: rgb(192, 192, 192);
  font-size: 2.5em;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-decoration: none;
  border: 3px solid rgb(192, 192, 192);
  border-radius: 10px;
  padding: 10px 50px;
  transition: 0.3s;
}
.container .content main .welcome-content a:hover {
  background-color: rgb(192, 192, 192);
  color: #161616;
  border-color: #161616;
  cursor: pointer;
}
.container .content main .dropdown {
  align-self: flex-end;
  position: relative;
}
.container .content main .dropdown .options {
  width: 55px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(16, 16, 16, 0);
  border: none;
  transition: 0.3s;
}
.container .content main .dropdown .options img {
  width: 40px;
  height: 40px;
}
.container .content main .dropdown .options:hover {
  cursor: pointer;
}
.container .content main .dropdown #settings-content {
  position: absolute;
  transform: rotateX(0deg);
  right: 25px;
}
.container .content main .dropdown #settings-content ul {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  gap: 10px;
  border-right: 6px dashed rgb(192, 192, 192);
  list-style: none;
  position: relative;
}
.container .content main .dropdown #settings-content ul li .element {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  background-color: #333333;
  color: white;
  font-size: 1.5em;
  border: none;
  margin-right: 30px;
  padding: 10px 20px;
}
.container .content main .dropdown #settings-content ul li .element:hover {
  background-color: #303030;
}
.container .content main .dropdown #language-content {
  position: absolute;
  left: 25px;
}
.container .content main .dropdown #language-content ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  border-left: 6px dashed rgb(192, 192, 192);
  margin-right: 0px;
  list-style: none;
}
.container .content main .dropdown #language-content ul li .element {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  background-color: #333333;
  color: white;
  font-size: 1.5em;
  border: none;
  padding: 10px 20px;
}
.container .content main .dropdown #language-content ul li .element:hover {
  background-color: #303030;
}
.container .content main .dropdown .dropdown-content {
  display: none;
  max-width: 200px;
  max-height: 170px;
  overflow-y: scroll;
  overflow-x: hidden;
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.container .content main .dropdown .dropdown-content::-webkit-scrollbar {
  width: 10px;
}
.container .content main .dropdown .dropdown-content::-webkit-scrollbar-track {
  background: #161616;
}
.container .content main .dropdown .dropdown-content::-webkit-scrollbar-thumb {
  background: #888;
}
.container .content main .dropdown .dropdown-content::-webkit-scrollbar-thumb:hover {
  background: #555;
}/*# sourceMappingURL=main-page.css.map */