@import '_mixins';

*{
    margin:0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

$first-color: #161616;
$secondary-color:rgb(192, 192, 192);


.container{
    background-color: $first-color;
    @include Size(100vw,100vh);
    @include centerElement(center,center);  
    flex-direction: column;

    
    .content{
         
        @include Size(1000px, 500px);   
        @include centerElement(center,center);
        flex-direction: column;
        gap:100px;
        

        .logo{
            @include centerElement(center,center);
            flex-direction: column;
            gap:15px;

            
            font-size:4.5em;
            color:$secondary-color;

        }
    
        .nav{
            @include Size(100%,none);
            @include centerElement(space-around,center);
            a{
                transition: 0.3s;
                padding: 10px 50px;
                font-size: 3em;
                font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                background-color: $first-color;
                color:$secondary-color;
                border:3px solid $secondary-color;
                border-radius: 10px;
                text-decoration: none;
                
                &:hover{
                    color:$first-color;
                    border-color:$first-color;
                    background-color: $secondary-color;
                    cursor:pointer;
                }
                
            }
            
            
            .options{
                transition: 0.3s;
                background-color: rgba(16,16,16,0);
                border:none;
                
                @include Size(55px,60px);
                @include centerElement(center,center);
                img{
                    @include Size(40px,40px);
                    
                }
                
                &:hover{
                    
                    cursor:pointer;
                    
                }
            }          
            .dropdown{
                position: relative;
               
                
                .dropdown-content{
                    display: none;
                    @include maxSize(200px, 170px);
                    position: absolute;
                    left:25px;

                    overflow-y:scroll;
                    overflow-x:hidden;

                    &::-webkit-scrollbar {
                        width: 10px;
                      }
                      
                      /* Track */
                    &::-webkit-scrollbar-track {
                        background: $first-color; 
                    }
                       
                      /* Handle */
                    &::-webkit-scrollbar-thumb {
                        background: #888; 
                      }
                      
                      /* Handle on hover */
                    &::-webkit-scrollbar-thumb:hover {
                        background: #555; 
                    }


                    ul{
                        
                        border-left:6px dashed $secondary-color;
                        @include centerElement(center, center);
                        flex-direction: column;
                        gap:10px;
                        list-style: none;
                        
                        margin-right: 0px;
                        
                        li{
                            .element{
                                background-color: #333333;
                                @include centerElement(center, center);
                                @include Size(150px,50px);
                                padding:10px 20px;
                                border:none;
                                color:white;
                                font-size:1.5em;
                            }      
                        }
                    }
                }
            }
        }
    }
    
 
    










    



    // .welcome{
    //     // display: none;
    // }

    .login{
        display: none;
    }
}